<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:monitored_calls, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:monitored_calls, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :monitored_call, url(:monitored_calls, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'monitored_calls/form', :locals => { :f => f } %>
 <% end %>
</div>
