<!DOCTYPE html>
<html>
  <head>
    <title>The VWS FT8 Experiment</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJBNYIEwoLv_-WIT0cxVsPjrbvTZg51So&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <script src="/javascripts/map.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/map.css" />
  </head>
  <body>
    <div id="topnav">
      <form>
        <select name="observations" id="observations"></select>
      </form>
    </div>
    <div id="leftnav">
      <h2>Callsigns</h2>
      <ul id="calls">
      </ul>

      <h2>Bands</h2>
      <ul id="bands">
        <li><a href="#" class="band" id="band_6m">6M</a></li>
        <li><a href="#" class="band" id="band_10m">10M</a></li>
        <li><a href="#" class="band" id="band_15m">15M</a></li>
        <li><a href="#" class="band" id="band_17m">17M</a></li>
        <li><a href="#" class="band" id="band_20m">20M</a></li>
        <li><a href="#" class="band" id="band_30m">30M</a></li>
        <li><a href="#" class="band" id="band_40m">40M</a></li>
        <li><a href="#" class="band" id="band_60m">60M</a></li>
        <li><a href="#" class="band" id="band_80m">80M</a></li>
      </ul>
    </div>
    <div id="map"></div>
  </body>
</html>
